@font-face{
font-family: 'BetterFields';
src: url('./Better-Fields-Demo-BF68511d7f724f2.woff2') format('woff2'),
url('./Better-Fields-Demo-BF68511d7f724f2.woff') format('woff');
font-weight: regular;
font-style: normal;
font-display: swap;
}

@font-face{
font-family: 'Ornaments1';
src: url('./Victorian Free Ornaments Two.woff2') format('woff2'),
url('./Victorian Free Ornaments Two.woff') format('woff');
font-weight: regular;
font-style: normal;
font-display: swap;
}


/** FIRMA 1 **/
.KA-sig1{
  width: 340px;
  height: 200px;
  border: 6px solid #181818;
  outline: 1px solid #020202;
  outline-offset: -6px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.7s;
}

.KA-sig1:hover{
  outline: 1px solid var(--groups);
  transition: all ease-in-out 0.7s;
  transition-delay: .5s;
}


.KA-sig1 img{
  width: 340px;
  height: 200px;
  object-fit: cover; 
  object-position: center; 
  filter: grayscale(0)brightness(85%)blur(0px);
  transition: all ease-in-out 0.7s;
  position: absolute;
  z-index: 10;
}

.KA-sig1:hover.KA-sig1 img{
  filter: grayscale(100%)brightness(30%)blur(2px);
  transform: scale(1.7);
  transition: all ease-in-out 0.7s;
}


.KA-sig1-filtro1{
  width: 170px;
  height: 200px;
  background-color: #333;
  mix-blend-mode: overlay;
  position: absolute;
  z-index: 12;
  bottom: 200px;
  left: 0px;
  transition: all ease-in-out 0.7s;
}

.KA-sig1:hover .KA-sig1-filtro1{
  bottom: 0px;
  transition: all ease-in-out 0.7s;
  transition-delay: .5s;
}


.KA-sig1-filtro2{
  width: 170px;
  height: 200px;
  background-color: var(--groups);
  mix-blend-mode: overlay;
  position: absolute;
  z-index: 12;
  top: 200px;
  right: 0px;
  transition: all ease-in-out 0.7s;
}

.KA-sig1:hover .KA-sig1-filtro2{
  top: 0px;
  transition: all ease-in-out 0.7s;
  transition-delay: .5s;
}


.KA-sig1-texto1{
  width: 300px;
  height: 200px;
  padding: 0px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: "Gideon Roman", serif;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ababab;
  text-shadow: 1px 1px 0px #000;
  line-height: 140%;
  position: relative;
  z-index: 16;
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
  filter:blur(0px);
}


.KA-sig1-texto1 i{
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 33px;
  color: #000;
  line-height: 100%;
  padding-bottom: 8px;
  filter:drop-shadow(1px 1px 1px var(--groups));
}

.KA-sig1-texto1 txt{
  display: block;
}


.KA-sig1:hover .KA-sig1-texto1{
  filter:blur(6px);
  transform: scale(0.9);
  opacity: 0;
  transition: all ease-in-out 0.7s;
}

.KA-sig1-texto1 b,.KA-sig1-texto1 strong{
  padding: 2px 3px 1px 4px;
  background: rgba(0,0,0, .9);
  font-weight: 400;
  color: #cbcbcb;
  text-shadow: 1px 1px 1px var(--groups);
}



.KA-sig1-texto2{
  width: 340px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  z-index: 20;
  transition: all ease-in-out 0.7s;
  filter:blur(5px);
  opacity: 0;
}

.KA-sig1:hover .KA-sig1-texto2{
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
  filter:blur(0px);
  opacity: 1;
}

.KA-sig1-texto2:before{
  font-family: "Ornaments1";
  color: var(--groups);
  font-size: 35px;
  position: absolute;
  top: 20px;
  left: 10px;
  content: "A";
}


.KA-sig1-texto2:after{
  font-family: "Ornaments1";
  color: #abaaaa;
  font-size: 35px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  content: "B";
}


.KA-sig1-texto2 frase1{
  width: 120px;
  height: 160px;
  font-family: "BetterFields";
  color: var(--groups);
  font-size: 25px;
  line-height: 145%;
  text-shadow: 1px 1px 0px #000;
  text-transform: lowercase;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 120px;
  background: rgba(0,0,0, 0);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: all ease-in-out 0.7s;
}

.KA-sig1:hover .KA-sig1-texto2 frase1{
  left: 20px;
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}

.KA-sig1-texto2 frase1 b,.KA-sig1-texto2 frase1 strong{
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 1.5px;
  font-size: 25px;
  color: #abaaaa;
}



.KA-sig1-texto2 frase1v2{
  width: 120px;
  height: 160px;
  font-family: "UnifrakturMaguntia", cursive;  
  color: transparent;
  -webkit-text-stroke: .5px #ababab;
  text-shadow: 2px 2px 0px var(--groups);
  text-transform: lowercase;
  font-size: 28px;
  line-height: 115%;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 120px;
  background: rgba(0,0,0, 0);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: all ease-in-out 0.7s;
}

.KA-sig1:hover .KA-sig1-texto2 frase1v2{
  left: 20px;
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}

.KA-sig1-texto2 frase2{
  width: 120px;
  height: 160px;
  font-family: "Gideon Roman", serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #abaaaa;
  text-shadow: 1px 1px 0px #000;
  line-height: 170%;
  text-align: justify;
  position: absolute;
  top: 20px;
  right: 120px;
  background: rgba(0,0,0, 0);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: all ease-in-out 0.7s;
}

.KA-sig1:hover .KA-sig1-texto2 frase2{
  right: 20px;
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}


.KA-sig1-texto2 txt{
  display: block;
}

.KA-sig1-texto2 txt b,.KA-sig1-texto2 txt strong{
  padding: 2px 3px 2px 4px;
  background: rgba(0,0,0, .8);
  font-weight: 400;
  color: #abaaaa;
  text-shadow: 1px 1px 0px var(--groups);
}





/** FIRMA 2 **/
.KA-sig2{
  width: 400px;
  height: 200px;
  border: 6px solid #181818;
  outline: 1px solid #020202;
  outline-offset: -6px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}


.KA-sig2-img1{
  width: 215px;
  height: 200px;
  position: relative;
}

.KA-sig2-img1 img{
  width: 215px;
  height: 202px;
  object-fit: cover; 
  object-position: center; 
  filter: grayscale(1)brightness(100%)blur(0px);
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.KA-sig2-img1:before{
  content: "";
  width: 215px;
  height: 200px;
  position: absolute;
  bottom: 0px;
  z-index: 11;
  background-color: var(--groups);
  mix-blend-mode: multiply;
}


.KA-sig2-img2{
  width: 180px;
  height: 200px;
  position: relative;
  border-left: 3px solid #181818;
}

.KA-sig2-img2 img{
  width: 180px;
  height: 200px;
  object-fit: cover; 
  object-position: center; 
  filter: grayscale(100%)brightness(90%)blur(0px);
  position: absolute;
  z-index: 10;
  overflow: hidden;
}



.KA-sig2-img2 icono,.KA-sig2-img2v2 icono{
  position: relative;
  z-index: 10;
  width: 180px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  mix-blend-mode: screen;
  color: #abaaaa;
}

.KA-sig2-img2 icono i,.KA-sig2-img2v2 icono i{
  width: 100%;
  position: relative;
  z-index: 20;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 33px;
  text-shadow: 1px 1px 0px var(--groups);
  line-height: 100%;
}

.KA-sig2-img2 icono:before{
  position: absolute;
  left: 20px;
  margin-bottom: 5px;
  content: "";
  height: 1px;
  width: 40px;
  background-color: #181818;
}

.KA-sig2-img2 icono:after{
  position: absolute;
  right: 20px;
  margin-bottom: 5px;
  content: "";
  height: 1px;
  width: 40px;
  background-color: #181818;
}


.KA-sig2-img2 icono txt,.KA-sig2-img2v2 icono txt{
  display: block;
  width: 140px;
  padding: 5px 0px;
  font-family: "Gideon Roman", serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #e5e5e5;
  text-shadow: 1px 1px 0px #000;
  line-height: 150%;
  text-align: center;
  border-bottom: 1px solid #181818;
}

.KA-sig2-img2 icono b,.KA-sig2-img2v2 icono b{
  color: #e5e5e5;
  font-weight: 800;
}


/** FIRMA 2 SIN FILTROS **/

.KA-sig2-img1v2{
  width: 215px;
  height: 200px;
  position: relative;
}

.KA-sig2-img1v2 img{
  width: 215px;
  height: 202px;
  object-fit: cover; 
  object-position: center; 
  position: relative;
  z-index: 10;
  overflow: hidden;
}


.KA-sig2-img2v2 {
  width: 180px;
  height: 200px;
  position: relative;
  border-right: 3px solid #181818;
}

.KA-sig2-img2v2 img{
  width: 180px;
  height: 200px;
  object-fit: cover; 
  object-position: center; 
  position: absolute;
  z-index: 10;
  overflow: hidden;
}


.KA-sig2-img2v2 icono:before{
  position: absolute;
  left: 20px;
  margin-bottom: 5px;
  content: "";
  height: 1px;
  width: 40px;
  background-color: #181818;
}

.KA-sig2-img2v2 icono:after{
  position: absolute;
  right: 20px;
  margin-bottom: 5px;
  content: "";
  height: 1px;
  width: 40px;
  background-color: #181818;
}





/** FIRMA 3 **/
.KA-sig3{
  width: 400px;
  height: 200px;
  border: 6px solid #181818;
  outline: 1px solid #020202;
  outline-offset: 2px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.7s;
  display: flex;
  justify-content: space-between;
}

.KA-sig3:hover{
  outline: 1px solid var(--groups);
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}


.KA-sig3-img1{
  width: 215px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.KA-sig3-img1 img{
  width: 215px;
  height: 202px;
  object-fit: cover; 
  object-position: center; 
  filter: grayscale(1)brightness(100%)blur(0px);
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.KA-sig3-img1:before{
  content: "";
  width: 215px;
  height: 200px;
  position: absolute;
  bottom: 0px;
  z-index: 11;
  background-color: var(--groups);
  mix-blend-mode: multiply;
}

.KA-sig3-quote{
  width: 215px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 11;
  backdrop-filter: grayscale(100%)blur(3px)brightness(60%);
  transform: translateX(215px);
  transition: all ease-in-out 0.7s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition-delay: .6s;
}

.KA-sig3:hover .KA-sig3-quote{
  transform: translateX(0px);
  transition: all ease-in-out 0.7s;
}

.KA-sig3-quote frase2{
  display: block;
  width:190px;
  font-family: "UnifrakturMaguntia", cursive;  
  color: transparent;
  -webkit-text-stroke: .5px #ababab;
  text-shadow: 1px 1px 0px var(--groups);
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 105%;
  filter: blur(5px);
  opacity: 0;
  transform: translateY(-50px);
  text-align: center;
  transition: all ease-in-out 0.7s;
  position: relative;
}

.KA-sig3:hover .KA-sig3-quote frase2{
  filter: blur(0px);
  transform: translateY(0px);
  opacity: 1;
  transition: all ease-in-out 0.7s;
  transition-delay: .5s;
}



.KA-sig3-quote frase3{
  position: relative;
  width: 190px;
  height: auto;
  padding: 6px 15px 0px 15px;
  margin: 5px 0px 0px 0px;
  font-family: "Gideon Roman", serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #e5e5e5;
  text-shadow: 1px 1px 0px #000;
  line-height: 160%;
  text-align: justify;
  filter: blur(5px);
  opacity: 0;
  transform: translateY(50px);
  transition: all ease-in-out 0.7s;
}

.KA-sig3:hover .KA-sig3-quote frase3{
  filter: blur(0px);
  opacity: 1;
  transform: translateY(0px);
  transition: all ease-in-out 0.7s;
  transition-delay: .5s;
}




.KA-sig3-img2{
  width: 180px;
  height: 200px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-left: 3px solid var(--groups);
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}

.KA-sig3:hover .KA-sig3-img2{
  transition: all ease-in-out 0.7s;
  border-left: 3px solid #181818;
 
}


.KA-sig3-img2 img{
  width: 180px;
  height: 200px;
  object-fit: cover; 
  object-position: center; 
  filter: grayscale(100%)brightness(80%)blur(3px);
  position: absolute;
  z-index: 12;
  overflow: hidden;
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}

.KA-sig3:hover .KA-sig3-img2 img{
  filter: grayscale(100%)brightness(100%)blur(0px);
  transition: all ease-in-out 0.7s;
}


.KA-sig3-img2 frase1{
  height: auto;
  width: 140px;
  margin: 0 auto;
  position: absolute;
  z-index: 12;
  font-family: "Gideon Roman", serif;
  font-size: 7.5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #e5e5e5;
  text-shadow: 1px 1px 0px #000;
  line-height: 160%;
  text-align: justify;
  filter: blur(0px);
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}


.KA-sig3:hover .KA-sig3-img2 frase1{
  filter: blur(5px);
  transform: translateY(50px);
  opacity: 0;
  transition: all ease-in-out 0.7s;
}



.KA-sig3-img2 filtro{
  width: 180px;
  height: 200px;
  position: absolute;
  z-index: 12;
  background: linear-gradient(-20deg,rgba(51, 51, 51, .9) 0%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, 1) 100%);
  mix-blend-mode: luminosity;
  opacity: 0;
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}

.KA-sig3:hover .KA-sig3-img2 filtro{
  opacity: 1;
  transition: all ease-in-out 0.7s;
}


.KA-sig3-img2 icono{
  position: absolute;
  display: flex;
  align-items: center;
  align-content: flex-end;
  justify-content: center;
  width: 140px;
  z-index: 15;
  bottom: 15px;
  left: 20px;
  font-family: "Gideon Roman", serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #e5e5e5;
  text-shadow: 1px 1px 0px #000;
  line-height: 150%;
  text-align: center;
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-50px);
  transition: all ease-in-out 0.7s;
}

.KA-sig3-img2 icono i{
  font-size: 33px;
  display: block;
  width: 100%;
  text-align: center;
  opacity: .7;
  position: absolute;
  z-index: 13;
  mix-blend-mode: screen;
  color: var(--groups);
}

.KA-sig3-img2 icono txt{
  position: relative;
  bottom: 0px;
  z-index: 15;
}



.KA-sig3:hover .KA-sig3-img2 icono{
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
  transition: all ease-in-out 0.7s;
  transition-delay: .5s;
}






/** FIRMA 4 **/
.KA-sig4,.KA-sig4v2{
  width: 340px;
  height: 200px;
  border: 6px solid #181818;
  outline: 1px solid var(--groups);
  outline-offset: 2px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


.KA-sig4 img,.KA-sig4v2 img{
  width: 340px;
  height: 200px;
  object-fit: cover; 
  object-position: center; 
  position: relative;
  z-index: 10;
}


.KA-sig4-quote,.KA-sig4v2-quote{
  position: absolute;
  z-index: 13;
  bottom: 15px;
  left: 15px;
  padding: 10px;
  border-left: 3px solid #181818;
  text-align: left;
  width: 200px;
}

.KA-sig4-quote frase1,.KA-sig4v2-quote frase1{
  font-family: "UnifrakturMaguntia", cursive;  
  color: transparent;
  -webkit-text-stroke: .5px #ababab;
  text-shadow: 1px 1px 0px var(--groups);
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 105%;
}

.KA-sig4-quote frase2,.KA-sig4v2-quote frase2{
  display: block;
  width: fit-content;
  font-family: "Gideon Roman", serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #e5e5e5;
  text-shadow: 1px 1px 0px #000;
  line-height: 100%;
  background: var(--groups);
  padding: 3px 3px 2px 4px;
  margin-top: 5px;
}





/** FIRMA 4 VERSION 2 **/
.KA-sig4v2{
  outline: 1px solid #000;
  transition: all ease-in-out 0.7s;
}

.KA-sig4v2:hover{
  outline: 1px solid var(--groups);
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}

.KA-sig4v2 img{
  filter: grayscale(0);
}


.KA-sig4v2-filtro{
  width: 340px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 11;
  background-color: var(--groups);
  backdrop-filter: grayscale(1);
  mix-blend-mode: multiply;
  transform: translateX(340px);
  transition: all ease-in-out 0.7s;
  transition-delay: .4s;
}

.KA-sig4v2:hover .KA-sig4v2-filtro{
  transform: translateX(0px);
  transition: all ease-in-out 0.7s;
}

.KA-sig4v2-quote{
  transform: translateX(0px);
  transition: all ease-in-out 0.7s;
  transition-delay: .4s;
}

.KA-sig4v2:hover .KA-sig4v2-quote{
  transform: translateX(-220px);
  transition: all ease-in-out 0.7s;
}


.KA-sig4v2-quote2{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  width: 340px;
  height: 200px;
  z-index: 15;
  opacity: 0;
  filter: blur(3px);
  transition: all ease-in-out 0.7s;
}

.KA-sig4v2:hover .KA-sig4v2-quote2{
  opacity: 1;
  filter: blur(0px);
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}


.KA-sig4v2-quote2 txt{
  position: relative;
  width: 180px;
  padding: 20px;
  font-family: "Gideon Roman", serif;
  font-size: 7.5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #e5e5e5;
  text-shadow: 1px 1px 0px #000;
  line-height: 175%;
  text-align: justify;
  background: rgba(0,0,0, .4);
  backdrop-filter: grayscale(1)brightness(85%);
  transform: scale(.7);
  transition: all ease-in-out 0.7s;
  outline: 1px solid #000;
}


.KA-sig4v2:hover .KA-sig4v2-quote2 txt{
  transform: scale(1);
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}




/** FIRMA 5 **/
.KA-sig5{
  width: 340px;
  height: 160px;
  border: 6px solid #181818;
  outline: 1px solid #020202;
  outline-offset: -6px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.KA-sig5 img{
  width: 200px;
  height: 160px;
  object-fit: cover; 
  object-position: center; 
  position: relative;
  overflow: hidden;
}


.KA-sig5-de{
  width: 138px;
  height: 160px;
  background:#111;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Gideon Roman", serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #ababab;
  text-shadow: 1px 1px 0px #000;
  line-height: 185%;
  position: relative;
}


.KA-sig5-de txt{
  display: block;
  padding: 10px 15px;
  text-align: justify;
}


.KA-sig5-de i{
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  mix-blend-mode: lighten;
  color: #ababab;
  text-shadow: 1px 1px 0px #000;
  padding-bottom: 5px;
  position: relative;
  width: 100%;
  height: auto;
}


.KA-sig5-de c{
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 45px;
  height: 1px;
  background: linear-gradient(to right, #222, transparent);
}

.KA-sig5-de t{
  content: "";
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 45px;
  height: 1px;
  background: linear-gradient(to left, #222, transparent);
}




/** FIRMA 6 **/
.KA-sig6{
  width: 300px;
  height: 200px;
  border: 6px solid #181818;
  outline: 1px solid #020202;
  outline-offset: -6px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.KA-sig6:before{
  position: absolute;
  z-index: 15;
  content:"";
  width: 35px;
  height: 35px;
  border-top: 1px solid var(--groups);
  border-left: 1px solid var(--groups);
  top: 1px;
  left: 1px;
  transition: all ease-in-out 0.7s;
  opacity: .4;
}


.KA-sig6:after{
  position: absolute;
  z-index: 15;
  content:"";
  width: 35px;
  height: 35px;
  border-bottom: 1px solid var(--groups);
  border-right: 1px solid var(--groups);
  bottom: 1px;
  right: 1px;
  transition: all ease-in-out 0.7s;
  opacity: .4;
}


.KA-sig6:hover:after{
  width: 16px;
  height: 16px;
  bottom: 38px;
  right: 20px;
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}

.KA-sig6:hover:before{
  width: 16px;
  height: 16px;  
  top: 38px;
  left: 20px;
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}



.KA-sig6 img{
  width: 300px;
  height: 200px;
  object-fit: cover; 
  object-position: center; 
  position: relative;
  z-index: 2;
  overflow: hidden;
}


.KA-sig6-fil{
  width: 300px;
  height: 200px;
  content:"";
  position: absolute;
  z-index:4;
  top: 0px;
  left: 300px;
  background-color: var(--groups);
  mix-blend-mode: multiply;
  backdrop-filter: grayscale(1)blur(0px);
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}

.KA-sig6:hover .KA-sig6-fil{
  left: 0px;
  transition: all ease-in-out 0.7s;
}


.KA-sig6-over{
  width: 300px;
  height: 200px;
  position: absolute;
  z-index: 3;
  top: 0px;
  opacity: 0;
  transition: all ease-in-out 0.7s;
}

.KA-sig6:hover .KA-sig6-over{
  opacity: 1;
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}

.KA-sig6-over img{
  width: 300px;
  height: 200px;
  object-fit: cover; 
  object-position: center; 
  opacity: 1;
}



.KA-sig6-text{
  width: 300px;
  height: 200px;
  content:"";
  position: absolute;
  z-index: 6;
  top: 0px;
  filter: blur(4px);
  opacity: 0;
  transition: all ease-in-out 0.7s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.KA-sig6:hover .KA-sig6-text{
  filter: blur(0px);
  opacity: 1;
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
}


.KA-sig6-text txt{
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 35px;
  font-family: "Gideon Roman", serif;
  font-size: 8.5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ababab;
  text-shadow: 1px 1px 0px #000;
  line-height: 190%;
  text-align: justify;
}


.KA-sig6-text txt b,.KA-sig6-text txt b{
  color: var(--groups);
  background: #111;
  padding: 3px 2px 2px 3px;
}



.KA-sig6-corto{
  width: fit-content;
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 3;
  font-family: "Gideon Roman", serif;
  line-height: 160%;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ababab;
  text-shadow: 1px 1px 0px #000;
  filter: blur(0px);
  opacity: 1;
  transition: all ease-in-out 0.7s;
  transition-delay: .6s;
  text-align: center;
}


.KA-sig6:hover .KA-sig6-corto{
  filter: blur(5px);
  opacity: 0;
  transition: all ease-in-out 0.7s;
}


.KA-sig6-corto i{
  font-size: 24px;
  position: relative;
  bottom: 4px;
  opacity: .6;
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 100%;
  text-shadow: 2px 2px 1px var(--groups);
}





/** FIRMA DELIRAN **/
.KA-sig7{
  width: 300px;
  height: 240px;
  margin:auto;
  overflow:hidden;
  position: relative;
}

.KA-sig7full{
  position:relative;
  margin: auto;
  overflow:hidden;
  height: 205px;
  width: 275px;
}

.KA-sig7-1{
  height: 205px;
  width: 275px;  
}

.KA-sig7-1 img{
  height: 205px;
  width: 275px; 
  object-fit: cover; 
  object-position: center; 
  position: relative;
  z-index: 2;
  overflow: hidden;
}


.KA-sig7-2{
  height: 205px;
  width: 275px;
  transition: all ease-in-out 1s;
  opacity: 0;
  position: absolute;
  z-index: 5;
}

.KA-sig7:hover .KA-sig7-2{
  opacity: 1;
  transition: all ease-in-out 1s;
  transition-delay:.5s;
}


.KA-sig7-2 img{
  height: 205px;
  width: 275px;
  object-fit: cover; 
  object-position: center; 
  
}


.KA-sig7overl1{
  height: 205px;
  width: 138px;
  background: var(--groups);
  backdrop-filter: grayscale(1);
  mix-blend-mode: multiply;  
  position: absolute;
  z-index: 10;
  left: -205px;
  transition: all ease-in-out 1s;
  transition-delay:.5s;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
}

.KA-sig7:hover .KA-sig7overl1{
  left: 0px;
  transition: all ease-in-out 1s;
}

.quote3{
   font-family: "Gideon Roman", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 8px;
  color: #abaaaa;
  line-height: 190%;
  letter-spacing: 1px; 
  text-shadow: 1px 1px 1px #000;
  text-transform:uppercase;
  height: 205px;
  width: 138px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:justify;
  box-sizing:border-box;
  position: absolute;
  left: 137px;
  z-index: 30;
  padding: 0px 20px;
  opacity: 0;
  filter: blur(5px);
  transition: all ease-in-out 1s;
}

.KA-sig7:hover .quote3{
  opacity: 1;
  filter: blur(0px);
  transition: all ease-in-out 1s;
  transition-delay:.5s;
}

.quote3 n{
  display:block;
  box-sizing:border-box;
}

.quote3 b{
   animation: parpadeo1 1.9s infinite;
}


@keyframes parpadeo1 {
  0% {color: #abaaaa;}
  50% {color: var(--groups);}
  100% {color: #abaaaa;}
}


.quote4{
 font-family: "UnifrakturMaguntia", cursive;
 color: transparent;
 -webkit-text-stroke: .5px #ababab;
  text-shadow: 1px 1px 0px var(--groups);
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px; 
  height: 205px;
  width: 138px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:right;
  box-sizing:border-box;
  position: absolute;
  left: 0px;
  z-index: 30;
  padding: 0px 20px;
  opacity: 0;
  filter: blur(5px);
  transition: all ease-in-out 1s;
}

.KA-sig7:hover .quote4{
  opacity: 1;
  filter: blur(0px);
  transition: all ease-in-out 1s;
  transition-delay:.5s;
}


.KA-sig7overl2{
  height: 205px;
  width: 140px;
  background: rgba(0,0,0, .7);
  backdrop-filter: grayscale(1);
  mix-blend-mode: multiply;  
  position: absolute;
  z-index: 10;
  left: 355px;
  transition: all ease-in-out 1s;
  transition-delay:.5s;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
}

.KA-sig7:hover .KA-sig7overl2{
  left: 138px;
  transition: all ease-in-out 1s;
}

.KA-sig7quo1{
  width: 300px;
  height: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;  
  padding: 0px 0px 8px 0px;
}

.KA-sig7quo1 c{
  width: 290px;
  font-family: "Gideon Roman", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 8px;
  color: #abaaaa;
  line-height: 100%;
  letter-spacing: 1px;
  position: relative;
  z-index: 20;
  left: 0px;
  text-transform: uppercase;
  transition: all ease-in-out 1s;
  transition-delay:.3s;
}


.KA-sig7quo1 x{
  width: 300px;
  height: 1px;
  background: var(--groups);
  position: relative;
  z-index: 20;
  left: -20px;
  transition: all ease-in-out 1s;
  transition-delay:.3s;
}

.KA-sig7:hover .KA-sig7quo1 x{
  left: -160px;
  transition: all ease-in-out .7s;
}

.KA-sig7:hover .KA-sig7quo1 c{
  opacity: 0;
  left: 150px;
  transition: all ease-in-out .7s;
}

.KA-sig7borders{
  width: 298px;
  height: 228px;
  margin: auto;
  border-left: 1px solid #181818;
  border-bottom: 1px solid #181818;
  border-right: 1px solid #181818;
  border-top: 0px solid #181818;
  position: absolute; 
  top: 5px;
  z-index: 8;
  transition: all ease-in-out .5s;
}


.KA-sig7:hover .KA-sig7borders{
  border-bottom: 1px solid var(--groups);
  border-left: 1px solid var(--groups);
  border-right: 1px solid var(--groups);
  border-top: 1px solid var(--groups);
  transition: all ease-in-out 1s;
  transition-delay:.5s;
}





/** FIRMA 8 **/
.KA-sig8{
  width: 275px;
  height: 205px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  outline: 1px solid #181818;
  outline-offset: 10px;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to bottom, #181818, #000);
  transition: all ease-in-out 1s;
}

.KA-sig8 img{
  width: 275px;
  height: 205px;
  object-fit: cover; 
  object-position: center; 
  position: relative;
}

.KA-sig8txt1{
  width: 275px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 0px;
  font-family: "Gideon Roman", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 9px;
  color: #bbbbbb;
  line-height: 160%;
  letter-spacing: 1px; 
  text-shadow: 1px 1px 0px #000;
  text-transform:uppercase;
  padding: 5px 0px 3px 0px;
  background-color: rgba(0,0,0, .6);
  transition: all ease-in-out 1s;
}

.KA-sig8:hover .KA-sig8txt1{
  bottom: -80px;
  transition: all ease-in 1.5s;
}

.KA-sig8:hover{
  border-image-source: linear-gradient(to bottom, #181818, var(--groups), var(--groups));
  transition: all ease-in-out 1s;
}

.KA-sig8img2{
  width: 275px;
  height: 205px;
  position: absolute;
  top: 0px;
  z-index: 20;
  transition: all ease-in-out 1s;
  opacity: 0;
}

.KA-sig8:hover .KA-sig8img2{
  transition: all ease-in-out 1s;
  opacity: 1;
}

.KA-sig8img2 img{
  width: 275px;
  height: 205px;
  object-fit: cover; 
  object-position: center; 
  filter: grayscale(1);
  position: absolute;
  top: 0px;
  z-index: 20;
}

.KA-sig8img2fil{
  width: 275px;
  height: 205px;
  position: absolute;
  top: 0px;
  z-index: 21;
  background-color: var(--groups);
  mix-blend-mode: overlay;
}



.KA-sig8txt2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0px;
  height: 205px;
  z-index:22;
  margin: 0 auto;
  width: 235px;
  opacity: 0;
  background: rgba(0,0,0, .0);
  padding: 10px 20px;
  text-align: justify;
  font-family: "Gideon Roman", serif;
  font-weight: 300;
  font-size: 8px;
  color: #bbbbbb;
  line-height: 150%;
  letter-spacing: 2px; 
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #000;
  transform: scale(0.8);
  filter: blur(12px);
  transition: all ease-in-out 1s;
}

.KA-sig8:hover .KA-sig8txt2{
  transition: all ease-in-out 1s;
  transition-delay: .6s;
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
}

.KA-sig8txt2 txt{
  display: block;
}

.KA-sig8txt2 t{
  width: 100%;
  text-align: center;
  font-family: "UnifrakturMaguntia", cursive;
  color: var(--groups);
  text-shadow: 1px 1px 0px #000;
  text-transform: lowercase;
  font-size: 22px;
  line-height: 100%;
  text-transform: none;
  padding-top: 0px;
  letter-spacing: .5px; 
  opacity: 1;
  position: relative;
  padding-bottom: 5px;
  font-weight: 800;
}

.KA-sig8txt2 b,.KA-sig8txt2 strong{
  animation: parpadeo1 1.9s infinite;
  color: var(--groups);
}






/** TABLILLAS DE ROL **/
@font-face {font-family: "Dark Whisper"; src: url('https://FURRALOCA.github.io/kaelkothpejotas/recursos/DarkWhisperRegular-rvPdp.woff2');}
@font-face {font-family: "Decorative1"; src: url('https://FURRALOCA.github.io/kaelkothpejotas/recursos/Ornaments Salad.otf');}
@font-face {font-family: 'Highborne';src: url('https://furraloca.github.io/kaelkothoficial/Highborne-Blackletter.otf') format('opentype');}
@font-face {font-family: 'Menttalis';src: url('https://furraloca.github.io/kaelkothoficial/Menttalis.otf') format('opentype');}
@font-face {font-family: "Metrim"; src: url('https://FURRALOCA.github.io/kaelkothpejotas/recursos/MetrimLetterRegular.otf');}
@font-face {font-family: 'Revolver';src: url('https://dl.dropbox.com//scl/fi/cu2ndj95j48hgzymvm2jx/RevolverBlackletter-Regular.otf?rlkey=r06cgm9o31ek5z44vlpoevx75&st=79lj6hai&dl=0') format('opentype');}


/** POST SENCILLO 1 **/
.KApost-1{
  width: 500px;
  margin: 0 auto;
  position: relative;
  font-family: 'Gideon Roman';
  line-height: 170%;
  font-size: 16px;
  text-align: justify;
  color: #abaaaa;
  padding-bottom: 20px;
}

.KApost-1-info{
  width: 500px;
  padding: 30px 0px 10px 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.KApost-1-info lugar,.KApost-1-info tiempo{
  display: block;
  width: 230px;
  font-family: 'Gideon Roman';
  line-height: 150%;
  font-size: 10px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.KApost-1-info lugar{
  margin: 0px 20px 0px 0px;
}

.KApost-1-info tiempo{
  text-align: right;
  margin: 0px 0px 0px 20px;
}

.KApost-1-info lugar i,.KApost-1-info tiempo i{
  color: var(--groups);
  font-size: 15px;
}

.KApost-1 tit,.KApost-1 tit2,.KApost-1 tit3,.KApost-1 tit4,.KApost-1 tit5,.KApost-2 tit,.KApost-2 tit2,.KApost-2 tit3,.KApost-2 tit4,.KApost-2 tit5{
  display: block;
  width: 500px;
  text-align: center;
  font-family: 'Highborne';
  color: transparent;
  -webkit-text-stroke: .5px #333;
  text-shadow: 1px 1px 0px var(--groups);
  font-size: 40px;
  line-height: 100%;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
}

.KApost-1 sub,.KApost-2 sub{
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 8px;
  text-align: center;
  line-height: 100%;
  margin: 0 auto;
}

.KApost-1 inicial,.KApost-2 inicial{
  float: left;
  font-family: 'Dark Whisper';
  font-size: 46px;
  line-height: 120%;
  width: 60px;
  text-align: center;
  margin-top: 10px;
  padding-right: 10px;
  background:-webkit-linear-gradient(342deg,rgba(0, 0, 0, 1) 0%, var(--groups) 50%, rgba(0, 0, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.KApost-1-separador,.KApost-1-separador2{
  width: 500px;
  height: auto;
  padding: 5px 0px 15px 0px;
  position: relative;
  margin: 0 auto;
  font-family: "Decorative1";
  text-align: center;
  font-size: 34px;
  color: transparent;
  -webkit-text-stroke: .5px #000;
  text-shadow: 1px 1px 1px var(--groups);
  opacity: .5;
  margin-bottom: 5px;
}

.KApost-1-separador2{
  margin-top: 30px;
  transform: scaleY(-1);
  padding-bottom: 10px;
}

.KApost-1-separador:before,.KApost-1-separador:after,.KApost-1-separador2:before,.KApost-1-separador2:after{
  content: "";
  position: absolute;
  top: 19px;
  width: 43%;
  height: 1px;
}

.KApost-1-separador:before,.KApost-1-separador2:before{
  left: 0px;
  background: linear-gradient(to right, transparent, var(--groups));
}

.KApost-1-separador:after,.KApost-1-separador2:after{
  right: 0px;
  background: linear-gradient(to left, transparent, var(--groups));
}

.KApost-1-final{
  width: 500px;
  height: auto;
  padding: 0px 0px 20px 0px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.KApost-1-final aviso{
  padding-right: 0px;
  display: block;
  width: 100%;
  font-family: 'Gideon Roman';
  line-height: 100%;
  font-size: 9.5px;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-align: center;
  opacity: .8;
}

.KApost-1-final personaje,.KApost-1-final personaje2,.KApost-1-final personaje3,.KApost-1-final personaje4,.KApost-1-final personaje5,.KApost-2-final2-info personaje,.KApost-2-final2-info personaje1,.KApost-2-final2-info personaje3,.KApost-2-final2-info personaje4,.KApost-2-final2-info personaje5{
  display: block;
  width: 100%;
  font-family: 'Highborne';
  background:-webkit-linear-gradient(342deg, var(--groups) 0%, rgba(85, 85, 85, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px #000;
  text-shadow: 0px 0px 0px transparent;
  font-size: 22px;
  line-height: 100%;
  text-transform: none;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 12px;
}

.KApost-1-final personaje a{
  text-decorative: none;
}

.KApost-1-final span{
  font-size: 10px;
  letter-spacing: 0px;
  margin-right: 0px;
}

.KApost-1-final span:before{
  content:"¡!";
  font-size: 13px;
  color: var(--groups);
  font-weight: 900;
  padding-right: 2px;
  position: relative;
  top: 0px;
  line-height: 100%;
  animation: kblink1 1000ms infinite;
  -webkit-animation:kblink1 1000ms infinite;
}



/** POST 1 CON BETTER FIELDS **/
.KApost-1 tit2,.KApost-2 tit2{
  font-family: "BetterFields";
  font-size: 44px;
  color: var(--groups);
  -webkit-text-stroke: .3px #000;
   text-shadow: 0px 0px 0px transparent;
}

.KApost-1-final personaje2,.KApost-2-final personaje2,.KApost-2-final2-info personaje2{
  font-family: "BetterFields";
  font-size: 22px;
  background:-webkit-linear-gradient(342deg, var(--groups) 0%, rgba(85, 85, 85, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px #000;
  text-shadow: 0px 0px 0px transparent;
  line-height: 170%;
}

.KApost-1-final personaje2 a,.KApost-2-final personaje2 a,.KApost-2-final2-info personaje2 a{
   background:-webkit-linear-gradient(342deg, var(--groups) 0%, rgba(85, 85, 85, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 0px #000;
   text-shadow: 0px 0px 0px transparent;
}


/** POST 1 CON MENTTALIST **/
.KApost-1 tit3,.KApost-2 tit3{
  font-family: 'Menttalis';
  font-size: 45px;
  color: transparent;
  text-shadow: 1px 1px var(--groups);
  -webkit-text-stroke: .5px #000;
  font-weight: 300;
}

.KApost-1-final personaje3,.KApost-2-final personaje3,.KApost-2-final2-info personaje3{
  font-family: 'Menttalis';
  font-size: 23px;
  background:-webkit-linear-gradient(342deg, var(--groups) 0%, rgba(85, 85, 85, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px #000;
  text-shadow: 0px 0px 0px transparent;
  line-height: 160%;
}

.KApost-1-final personaje3 a,.KApost-2-final personaje3 a,.KApost-2-final2-info personaje3 a{
   background:-webkit-linear-gradient(342deg, var(--groups) 0%, rgba(85, 85, 85, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 0px #000;
   text-shadow: 0px 0px 0px transparent;
}


/** POST 1 CON METRIM **/
.KApost-1 tit4,.KApost-2 tit4{
  font-family: "Metrim";
  font-size: 38px;
  background:-webkit-linear-gradient(90deg, var(--groups) 0%, rgba(11, 11, 11, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .5px #000;
  text-shadow: 1px 1px 1px transparent;
  padding-bottom: 6px;
}

.KApost-1-final personaje4,.KApost-2-final personaje4,.KApost-2-final2-info personaje4{
  font-family: "Metrim";
  font-size: 15px;
  background:-webkit-linear-gradient(342deg, var(--groups) 0%, rgba(85, 85, 85, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px #000;
  text-shadow: 0px 0px 0px transparent;
  line-height: 150%;
  letter-spacing: 1px;
}

.KApost-1-final personaje4 a,.KApost-2-final personaje4 a,.KApost-2-final2-info personaje4 a{
   background:-webkit-linear-gradient(342deg, var(--groups) 0%, rgba(85, 85, 85, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 0px #000;
   text-shadow: 0px 0px 0px transparent;
}


/** POST 1 CON REVOLVER **/
.KApost-1 tit5,.KApost-2 tit5{
  font-family: "Revolver";
  font-size: 82px;
  background:-webkit-linear-gradient(90deg, var(--groups) 0%, rgba(11, 11, 11, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px #000;
  text-shadow: 1px 1px 1px transparent;
  padding-bottom: 4px;
}

.KApost-1-final personaje5,.KApost-2-final personaje5,.KApost-2-final2-info personaje5{
  font-family: "Revolver";
  font-size: 35px;
  background:-webkit-linear-gradient(342deg, var(--groups) 0%, rgba(85, 85, 85, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px #000;
  text-shadow: 0px 0px 0px transparent;
  line-height: 130%;
  letter-spacing: 0px;
  padding-bottom: 6px;
  position: relative;
  top: -12px;
  text-transform: none;
}

.KApost-1-final personaje5 a,.KApost-2-final personaje5 a,.KApost-2-final2-info personaje5 a{
   background:-webkit-linear-gradient(342deg, var(--groups) 0%, rgba(85, 85, 85, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 0px #000;
   text-shadow: 0px 0px 0px transparent;
  text-transform: none;
}




/** POST SENCILLO 2 CON ICONO **/
.KApost-2{
  width: 500px;
  margin: 0 auto;
  position: relative;
  font-family: 'Gideon Roman';
  line-height: 170%;
  font-size: 16px;
  text-align: justify;
  color: #abaaaa;
  padding-bottom: 20px;
}

.KApost-2 icon{
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: var(--groups);
  font-size: 50px;
  text-shadow: 1px 1px 0px #000; 
}

.KApost-2-info{
  width: 500px;
  height: auto;
  padding: 8px 0px 5px 0px;
  background: transparent;
  border-top: 2px solid #181818;
  border-bottom: 2px solid #181818;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin: 25px 0px 15px 0px;
}

.v2.KApost-2-info{
  background: linear-gradient(342deg,rgba(51, 51, 51, .7) 0%, rgba(8, 8, 8, .9) 50%, rgba(51, 51, 51, .7) 100%);
  margin: 0px 0px 20px 0px;
}

.KApost-2-info notas,.KApost-2-info aviso{
  width: 214px;
  margin: 5px;
  line-height: 140%;
  font-style: normal;
  letter-spacing: .5px;
  font-size: 9px;
  color: #abaaaa;
  text-transform: uppercase;
  font-family: 'Gideon Roman';
}

.KApost-2-info aviso{
  text-align: right;
}

.KApost-2-info notas span,.KApost-2-info aviso span{
  display: block;
  color: var(--groups);
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0px;
}

.KApost-2-info sep{
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  width: 26px;
  text-transform: uppercase;
  line-height: 100%;
  color: transparent;
  -webkit-text-stroke: .5px #000;
  text-shadow: 1px 1px 1px var(--groups);
  opacity: .8; 
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.KApost-2-final{
  width: 500px;
  height: auto;
  padding: 15px 0px 5px 0px;
  margin-top: 35px;
  border-top: 2px solid #181818;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: flex-start;
 line-height: 150%;
  letter-spacing: .5px;
  font-size: 9.5px;
  color: #abaaaa;
  text-transform: uppercase;
}

.KApost-2-final txt{
  display: block;
}

.KApost-2-final i{
  font-size: 12px;
  color: var(--groups);
}

.KApost-2-final personaje,.KApost-2-final2-info personaje{
  display: block;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: 'Highborne';
  background:-webkit-linear-gradient(342deg, var(--groups) 0%, rgba(85, 85, 85, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px #000;
  text-shadow: 0px 0px 0px transparent;
  position: relative;
  text-transform: none;
}

.KApost-2-final2-info personaje{
  -webkit-text-stroke: 0px #000;
  filter:drop-shadow(0px 0px 1px #000);
  padding-left: 10px;
  padding-right: 10px;
}




/** POST SENCILLO 2 CON FOTO **/
.KApost-2-foto{
  width: 70px;
  height: 100px;
  border-radius: 100%;
  padding: 12px;
  border: 6px solid #181818;
  box-shadow: 0px 0px 16px var(--groups);
  outline: 1px solid var(--groups);
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

.KApost-2-foto img{
  width: 100px;
  height: 130px;
  filter: grayscale(100%)contrast(103%)brightness(85%);
  -webkit-filter: grayscale(100%)contrast(103%)brightness(85%);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  left: -15px;
  top: -15px;
  object-fit: cover;
  object-position: center;
}




/** POST SENCILLO 2 CON 3 FOTOS **/
.KApost-2-final2 {
  position: relative;
  width: 500px;
  height: auto;
  padding: 0px 0px 0px 0px;
  border-top: 2px solid #181818;
  margin: 40px 0px;
}

.KApost-2-final2-bg{
  background: url(https://i.pinimg.com/1200x/81/bb/9e/81bb9e9b0bb94cc9e1e2361ac6b88800.jpg) no-repeat center top / cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.KApost-2-final2-bg:after{
  position: absolute;
  top: 0px;
  content: "";
  width: 100%;
  height: 101%;
  backdrop-filter: grayscale(1)brightness(15%)contrast(96%);
}

.KApost-2-final2-info{
  position: relative;
  z-index: 12;
  top: 0px;
  width: 480px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  padding: 25px 10px 10px 10px;
  line-height: 150%;
  letter-spacing: .5px;
  font-size: 9.5px;
  color: #abaaaa;
  text-transform: uppercase;
}

.KApost-2-final2-info txt{
  display: block;
}

.KApost-2-final2-info i{
  font-size: 12px;
  color: var(--groups);
}

.KApost-2-cabecera{
  position: relative;
  width: 500px;
  height: auto;
}

.KApost-2-cabecera-bg{
  background: url(https://i.pinimg.com/1200x/81/bb/9e/81bb9e9b0bb94cc9e1e2361ac6b88800.jpg) no-repeat center top / cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  padding-bottom: 25px;
  padding-top: 30px;
}

.KApost-2-cabecera-bg:after{
  position: absolute;
  top: 0px;
  content: "";
  width: 100%;
  height: 101%;
  backdrop-filter: grayscale(1)brightness(15%)contrast(96%);
}

.KApost-2-cabecera-full{
  position: relative;
  z-index: 12;
  top: 0px;
  width: 480px;
  height: 100%;
  padding: 0px 10px;
}

.KApost-2-cabecera-full tit{
  display: block;
  width: 480px;
  text-align: center;
  font-family: 'Highborne';
  color: transparent;
  -webkit-text-stroke: .5px #333;
  text-shadow: 1px 1px 0px var(--groups);
  font-size: 40px;
  line-height: 100%;
  margin: 0 auto;
  padding: 15px 10px 0px 10px;
}

.KApost-2-cabecera-full sub{
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 8px;
  text-align: center;
  line-height: 100%;
  margin: 0 auto;
}


@keyframes kblink1 {
    from { opacity: 1.0; }
    50% { opacity: 0.1; }
    to { opacity: 1.0; }
}

@-webkit-keyframes kblink1 {
    from { opacity: 1.0; }
    50% { opacity: 0.1; }
    to { opacity: 1.0; }
}



