


.reproductorbg{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index:3;
  display: flex;
  
}

.reproductorbg i{
  position: relative;
  z-index:2;
  color: #555;
  font-size: 40px;
  left: 0px;
  background: linear-gradient(250deg, var(--dbckg6) 10%, var(--accent1));
  background-size: 800%;
  animation: moveGradient 5s ease-in-out infinite;
  background-clip: text;
  color: transparent;
}

@keyframes moveGradient { 0% { background-position: 0% 20%; } 50% { background-position: 100% 50%; } 100% { background-position: 0% 50%; } }

/* Contenedor principal reproductor mini */
.reproductor-mini {
  position: relative;
  top: 10px;
  left: -10px;
  z-index:3;
  display: flex;
  align-items: center;
  width: 160px;
  height: 30px;
  padding: 0 6px;
  box-sizing: border-box;
  gap: 5px; /* Reducimos un poco el espacio entre elementos */
  background-color: transparent;
}


.reproductor-mini nombre{
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  opacity: 0;
  top: 60px;
  font: 9px 'Gideon Roman';
  letter-spacing: 0px;
  color: #ababab;
  line-height: 140%;
  transition: all 0.7s ease-out;
  text-transform: uppercase;
}

.reproductor-mini:hover.reproductor-mini nombre{
  opacity: 1;
  top: 35px;
  transition: all 0.7s ease-out;
}



/* Botón de Play */
.control-btn {
  background: transparent;
  border: none;
  color: #ababab;
  font-size: 12px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-shrink: 0;
}
/* Contenedor de la barra de progreso (ahora comparte espacio con el volumen) */
.progreso-container {
  flex-grow: 1;
  height: 4px; /* Un poco más delgada para estilizar */
  background-color: rgba(51, 51, 51, 0.4);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
.progreso-llenado {
  height: 100%;
  width: 0%;
  background-color: var(--groups); 
  border-radius: 2px;
  transition: width 0.1s linear;
}
/* Contenedor y estilizado del Slider de Volumen */
.volumen-container {
  display: flex;
  align-items: center;
  width: 40px; /* Ancho fijo y pequeño para el volumen */
  flex-shrink: 0;
}
#volumen-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background-color: rgba(51, 51, 51, 0.4);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
/* Estilo del tirador (el puntito) del volumen en Chrome/Safari/Edge */
#volumen-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ababab;
  transition: transform 0.1s;
}
#volumen-slider::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}
/* Estilo del tirador del volumen en Firefox */
#volumen-slider::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  background: #ffffff;
  transition: transform 0.1s;
  cursor: pointer;
}

