@font-face{
font-family: 'erisfont1';
src: url('./Offenbacher Reform CAT.woff2') format('woff2'),
url('./Offenbacher Reform CAT.woff') format('woff');
font-weight: regular;
font-style: normal;
font-display: swap;
}

@font-face{
font-family: 'cancionfont';
src: url('./Zaslia.woff2') format('woff2'),
url('./Zaslia.woff') format('woff');
font-weight: regular;
font-style: normal;
font-display: swap;
}


.cancionbg{
  margin: 0 auto;
  width: 510px;
  height: 350px;
  background-image: url(https://images2.imgbox.com/eb/92/dFD2NEe9_o.jpg);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #040404, #181818);
  position: relative;
}


.cancionfiltro{
  width: 100%;
  height: 100%;
  position: relative;
  backdrop-filter: grayscale(100%)brightness(40%)contrast(108%)blur(2px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-end;
  flex-wrap: wrap;
}


.cancionfiltro t{
  margin: 0 auto;
  text-align: center;
  font-family: "cancionfont";
  font-weight: 500;
  font-size: 38px;
  text-transform: uppercase;
  color: #abaaaa;
  text-shadow: 1px 1px 0px #000;
  line-height: 100%;
}


.cancionfiltro b{
  font-weight: 900;
  color: var(--groups);
}

.subtitcancion{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cancionfiltro span{
  padding: 12px 20px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Gideon Roman", serif;
  color: #888;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 2px;
  text-align: justify;
  text-shadow: 1px 1px 0px #000;
  line-height: 100%;
}


.letracancion{
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Gideon Roman", serif;
  color: #ccc;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  text-shadow: 1px 1px 0px #000;
  line-height: 220%;
}


.letracancion n{
  height: 135px;
  display: block;
  padding: 0px 10px 10px 20px;
  overflow: auto;
  scrollbar-color: #121212 transparent;
  scrollbar-width: thin;
}


.mencion{
  margin: 0 auto;
  width: 512px;
  height: auto;
  padding: 5px 0px;
  background: linear-gradient(to left, #040404, #181818);
}

.mencion txt{
  display: block;
  padding: 3px 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Gideon Roman", serif;
  color: #abaaaa;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0px;
  text-align: right;
  text-shadow: 1px 1px 0px #000;
  line-height: 100%;
}


.mencion txt a{
  text-decoration: none;
  color: var(--groups);
  font-weigh: 300;
}


.mencion txt i{
  position: relative;
  top: 2px;
  font-size: 12px;
}
