@font-face{
font-family: 'valkofont1';
src: url('./BreatheFireIi-2z9W.woff2') format('woff2'),
url('./BreatheFireIi-2z9W.woff') format('woff');
font-weight: regular;
font-style: normal;
font-display: swap;
}

@font-face{
font-family: 'marafont1';
src: url('./The Solitude.woff2') format('woff2'),
url('./The Solitude.woff') format('woff');
font-weight: regular;
font-style: normal;
font-display: swap;
}

.dentro-f{
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 145%;
  color: #abaaaa;
}


.dentro-f x{
  display: flex;
  font-family: "Grenze", serif;
  font-style: italic;
  font-size: 12.5px;
  color: #626262;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 125%;
  text-align: justify;
  width: 300px;
  padding-left: 41px;
}

.dentro-f t{
  font-family: "valkofont1";
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 0px var(--sombrias);
  line-height: 100%;
  opacity: .9;
  position: relative;
  left: -10px;
}

.dentro-f span{
  letter-spacing: 2px;
  font-size: 14.5px;
  color: var(--sombrias);
  text-shadow: 1px 1px 2px #000;
  line-height: 100%;
  font-weight: 300;
  position: relative;
  top: 2px;
}

.tituloconj{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  height: 5px;
  position: relative;
}

.dentro-f-img{
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 1;
  position: relative;
  bottom: 20px;
  left: -10px;
}

.dentro-f-img img{
  width: 40px;
  height: 40px;
  position: relative;
  filter: hue-rotate(-39deg)contrast(108%)brightness(60%);
}

.dentro-f-icon{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.dentro-f-icon-img{
  width: 50px;
  height: 50px;
  background: url(https://i.ibb.co/tT6HVGCM/wolf3.png);
  background-size: cover;
  background-position: 50% 50%;
  filter: drop-shadow(1px 1px 1px var(--sombrias));
}

.dentro-f c{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 20px;
  height: 20px;
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
  padding-right: 10px;
  font-family: "valkofont1";
  color: var(--sombrias);  
}

.dentro-f datos{
  font-size: 11.5px;
  line-height: 105%;
  text-shadow: 1px 1px 2px #000;
}


.dentromara-ficha{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 155%;
  color: #abaaaa;
}


.dentromara-ficha c{
  display: flex;
  justify-content: center;
  font-family: "Metal Mania", system-ui;
  text-transform: lowercase;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  opacity: 1;
  line-height: 120%;
  color: #626262;
}


.dentromara-f-icon{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.dentromara-f-icon-img{
  width: 50px;
  height: 50px;
  background: url(https://i.ibb.co/ymWb7XD2/104272762.png);
  background-size: cover;
  background-position: 50% 50%;
  filter: drop-shadow(0px 0px 6px var(--sombrias));
}


.dentromara-sep{
  width: 1px;
  height: 80px;
  background: linear-gradient(181deg,rgba(121, 46, 46, .2) 20%, rgba(121, 46, 46, 1) 100%);
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
}

.dentromara-ficha t{
  font-family: "Lusitana", serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .5px;
  text-align: center;
  line-height: 100%;
}

.dentromara-ficha t i{
  color: var(--sombrias);
  position: relative;
  top: 2px;
}

.dentromara-curio{
  font-family: "marafont1";
  color: var(--sombrias);
  font-size: 28px;
  letter-spacing: .5px;
}


.dentromara-cable{
  width: 100%;
  height: 40px;
  background: url(https://i.ibb.co/vvvc9KYv/pngtree-the-barbed-wire-png-image-png-image-11461267-2.png);
  background-size: repeat;
  background-position: 50% 50%;
  filter: drop-shadow(0px 0px 3px var(--sombrias));
  margin-bottom: 20px;
}


.dentromara-ficha span{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 20px;
  height: 20px;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  padding-right: 10px;
  font-family: "marafont1";
  color: var(--sombrias);    
}

.dentromara-ficha datos{
  font-size: 12px;
  position: relative;
  line-height: 110%;
}

.datos-sep{
  width: 100%;
  height: 1px;
 background: linear-gradient(181deg,rgba(121, 46, 46, .2) 20%, rgba(121, 46, 46, 1) 100%);
  margin: 20px 0px;
}
